{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "prop-types": [0],
    "no-underscore-dangle": [2, { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }],
    "import/no-extraneous-dependencies": [
      "warning",
      { "devDependencies": true }
    ],
    "jsx-one-expression-per-line": "single-child"
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  }
}
