{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "prop-types": [0],
    "no-underscore-dangle": [2, { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }],
    "no-extraneous-dependencies": true
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  }
}
